DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=django-insecure-CHANGE-THIS
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL
DB_NAME=practicayoruba_db
DB_USER=django_user
DB_PASSWORD=django_pass
DB_HOST=127.0.0.1
DB_PORT=3306
